html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.noShadow {
  box-shadow: none !important;
}

#root {
  
}

main {
  
}

.r-search {
  
}

.app-bar .app-menu {
  box-shadow: none;
  background: transparent;
  margin: -8px 10px 0 0;
}
.app-bar .app-menu svg{
  font-size:66px;
}
.app-menu:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.app-bar .app-signal {
  border-radius: 50%;
  padding: 12px 5px 5px 10px;
  position: relative;
  z-index: 1301;
  background-color: #fff;
  width: 45px;
  height: 43px;
}

.app-bar .app-avatar {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  position: relative;
  z-index: 1301;
}

.r-home {
  height: 100%;
  background: #efeeee;
  text-align: center;
  line-height: 5em;
}
.r-home-googleIcon{
  background: url(./google-logo.svg) no-repeat 0 0;
  background-size: contain;
  transform: translateX(-155px);
  height: 0.7em !important;
}
.r-home-card {
  display: inline-block;
  padding: 2em 1em 0;
}

.r-home-google {
  background-color: #dd4b39 !important;
  padding-left: 3.5em !important;
  padding-right: 2em !important;
}

.r-home-google a,
.r-home-google a:hover,
.r-home-google a:focus {
  text-decoration: none;
  color: #fff;
}
