.r-table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.r-table {
  background: url(./table.png) no-repeat 0 0;
  margin: 40px 10px;
  background-size: contain;
  height: 18vw;
  flex-basis: 20%;
  position: relative;
}

.r-table img {
  display: block;
}

.r-table > div {
  position: absolute;
  width: 6vw;
  height: 6vw;
}

.r-table > div.r-avatar-0 {
  left: 6vw;
  top: -1vw;
}

.r-table > div.r-avatar-1 {
  top: 6vw;
  left: -1vw;
}

.r-table > div.r-avatar-2 {
  top: 13vw;
  left: 6vw;
}

.r-table > div.r-avatar-3 {
  left: 12vw;
  top: 6vw;
}
