.r-table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 6vw;
  padding-top: 10vh;
  padding-right: 8vw;
}

.r-table {
  
  margin-bottom: 20px;
  height: 20vw;
  /* width: 16vw; */
  flex-basis: 25%;
  position: relative;
  opacity: 1;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.r-table:before{
  content: '';
  background: url(./table.png) no-repeat 0px 0;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 92%;
  height: 94%;
  background-size: contain;
  opacity: 0.85;
}
.r-table:hover:before {
  opacity: 1;
}

.r-table-nohover {
  cursor: not-allowed;
}

.r-table-nohover:hover {
  opacity: 0.8;
}

.r-table img {
  display: block;
}

.r-table > div {
  position: absolute;
  width: 7vw;
  height: 7vw;
  z-index: 1;
}

.r-table > div.r-avatar-0 {
  left: 5.6vw;
  top: -1vw;
}

.r-table > div.r-avatar-1 {
  top: 5.8vw;
  left: -1.4vw;
}

.r-table > div.r-avatar-2 {
  top: 13vw;
  left: 6vw;
}

.r-table > div.r-avatar-3 {
  left: 12.2vw;
  top: 5.6vw;
}
